<figure
		id="chart"
		class:leftFigure="horizontalPage"
		class:topFigure="verticalPage"
		class:confirmFigure="!isPage"
		class:pageFigure="isPage"
>
	<table
			class="chart-contents"
	>
		{#each solutionDims as solutionDim, i}
		{#if showPosition(solutionDim)}
		<tr id="plus">
			<td>
				<div
						style="
        background-color: #{getColor(delta, situation, solutionDim.axis)};
        width: {solutionDim.value}%;
            "
				>
				</div>
			</td>
			<td>
				<div
						style="
        background-color: #{getColor(delta, situation, solutionDim.axis)};
        width: {solutionDim.value}%;
            "
				>
				</div>
			</td>
		</tr>
		{/if}
		{/each}
	</table>
</figure>
<table
		class="info"
		class:bottomInfo="verticalPage"
		class:confirmTable="!isPage"
		class:pageTable="isPage"
		class:rightInfo="horizontalPage"
>

	{#each solutionDims as solutionDim, i}
	<tr>
		<td>
			<FactorInfoButton
					factorNumber='{1}'
					bind:mode
					delta="{delta}"
					on:toggle="fire('toggleX')"
					situation="{situation}"
					position="left"
					solutionDim="{solutionDim}"
			></FactorInfoButton>
		</td>
		<td
				class="positionText"
		>
			{dirText(solutionDim, mode, situation, solution, delta)}
		</td>
	<tr>
	</tr>
	<td>
		<FactorInfoButton
				factorNumber='{2}'
				bind:mode
				delta="{delta}"
				float="left"
				on:toggle="fire('toggleY')"
				situation="{situation}"
				position="left"
				solutionDim="{solutionDim}"
		></FactorInfoButton>
	</td>
	<td
			class="positionText"
	>
		{dirText(solutionDim, mode, situation, solution, delta)}
	</td>
	<tr>
		<td>
			<FactorInfoButton
					factorNumber='{3}'
					bind:mode
					delta="{delta}"
					float="left"
					on:toggle="fire('toggleZ')"
					situation="{situation}"
					position="left"
					solutionDim="{solutionDim}"
			></FactorInfoButton>
		</td>
		<td
				class="positionText"
		>
			{dirText(solutionDim, mode, situation, solution, delta)}
		</td>
	</tr>
	{/each}
</table>

<style>
	@media (min-width: 62em) {
		.topFigure {
			width: 54% !important;
		}

		.bottomInfo {
			width: 54% !important;
		}

		.positionText {
			font-size: calc(1.3vw + 1.3vh) !important;
		}

		.confirmTable .positionText {
			font-size: calc(0.8vw + 0.8vh) !important;
		}
	}

	figure.confirmFigure div {
		margin: 3px;
	}

	figure.pageFigure div {
		margin: 10px;
	}

	.bottomInfo {
		bottom: 5px;
		position: fixed;
		width: 100%;
	}

	.chart-contents {
		width: 100%;
	}

	.confirmFigure,
	.confirmTable {
		margin: 0 23%;
	}

	.confirmFigure td,
	.confirmTable td {
		padding: 2px;
		vertical-align: middle;
	}

	.confirmTable .positionText {
		font-size: calc(1.2vw + 1.2vh);
	}

	.positionText {
		font-size: calc(1.8vw + 1.8vh);
	}

	.info {
	}

	.info td:first-child {
		width: 60px;
	}

	.leftFigure {
		position: fixed;
		left: 5px;
		top: 45px;
		width: calc(40% - 10px)
	}

	.pageFigure {
		margin: 0.8em;
	}

	.pageFigure td,
	.pageTable td {
		padding: 5px;
		vertical-align: middle;
	}

	.rightInfo {
		position: fixed;
		right: 5px;
		top: 45px;
		width: calc(60% - 10px);
	}

	.topFigure {
		position: fixed;
		top: 28px;
		width: 100%;
	}

	#plus td {
		border-bottom: 1px solid black;
		vertical-align: bottom;
	}

	#minus td {
		vertical-align: top;
	}

	#plus div {
		margin-bottom: 0px;
	}

	#minus div {
		margin-top: 0px;
	}

</style>

<script>
	import FactorInfoButton from '../../common/control/button/FactorInfoButton.html'
	import {
		getColor,
		getSideText
	}                       from '../../helpers/cube'

	export default {
		components: {
			FactorInfoButton
		},
		computed: {
			horizontalPage: ({
				                 mode,
				                 verticalLayout
			                 }) => {
				return mode == 'page' && !verticalLayout
			},
/*			maxValue: ({situation, delta, solution}) => {
				if (!solution) {
					return 0
				}

				const positiveValues = []
				const negativeValues = []

				addToVals(situation, solution.x, positiveValues, negativeValues)
				addToVals(situation, solution.y, positiveValues, negativeValues)
				addToVals(situation, solution.z, positiveValues, negativeValues)

				const maxPositiveValue = getMaxVal(positiveValues)
				const maxNegativeValue = getMaxVal(negativeValues)

				return maxPositiveValue + maxNegativeValue
			},*/
			isPage: ({mode}) => mode == 'page',
			verticalPage: ({
				               mode,
				               verticalLayout
			               }) => {
				return mode == 'page' && verticalLayout
			}
		},
		helpers: {
			getColor,
/*			dirWidth: (
				solutionDim,
				maxBarSize,
				maxValue,
				solution,
				delta,
			) =>
				solution ?
					barHeight(solution[solutionDim.axis], solutionDim.dir, maxBarSize, maxValue)
					: 0,*/
			dirText: (
				solutionDim,
				mode,
				situation,
				solution,
				delta
			) =>
				solution ?
					positionText(delta, mode, situation, solution[solutionDim.axis])
					: ''
		}
	}

/*
	function barWidth(
		solutionFactor,
		position,
		maxBarSize,
		maxValue
	) {
		return solutionFactor
		&& solutionFactor.dir === position
			? solutionFactor.value * maxBarSize / (maxValue * 1.2)
			: 0
	}
*/

	function positionText(
		delta,
		mode,
		situation,
		solutionFactor
	) {
		return getSideText(delta, mode, situation, solutionFactor.axis, solutionFactor.dir)
	}

/*
	function addToVals(
		situation,
		solutionFactor,
		positiveValues,
		negativeValues
	) {
		if (solutionFactor.dir === 1) {
			positiveValues.push(solutionFactor.value)
		} else {
			negativeValues.push(solutionFactor.value)
		}
	}
*/

/*
	function getMaxVal(
		values
	) {
		let maximumValue = 0

		for (const value of values) {
			if (value > maximumValue) {
				maximumValue = value
			}
		}

		return maximumValue
	}
*/

</script>
