npm-debug.log

# Ignore NPM package folders
node_modules

# Ignore build files
apps/**/lib
bundle.js
bundle.css
0.0.js
1.1.js
public.zip

.idea/workspace.xml

# Ignore Rush temporary files
/common/temp/**
.rush/
