<Fab
		on:opened="setOpened(event)"
		closed="{closed}"
>
	<div
			slot="up3"
	>
		<DescribedButton
				expanded="{expanded}"
				closing="{closing}"
				label="Sort Variations"
				on:select="open('sort')"
		>
			<SortButton
			></SortButton>
		</DescribedButton>
	</div>
	<div
			slot="up2"
	>
		<DescribedButton
				expanded="{expanded}"
				closing="{closing}"
				label="Filter Variations"
				on:select="open('filter')"
		>
			<FilterButton
			></FilterButton>
		</DescribedButton>
	</div>
	<div
			slot="up1"
	>
		<DescribedButton
				expanded="{expanded}"
				closing="{closing}"
				label="{factorMode ? 'Show Factors' : 'Show Outcomes'}"
				on:select="toggleFactorMode()"
		>
			{#if factorMode}
			<OutcomeButton
			></OutcomeButton>
			{:else}
			<FactorButton
			></FactorButton>
			{/if}
		</DescribedButton>
	</div>
</Fab>
<style>
	div[slot^="up"] {
		position: absolute;
		right: 10px;
		top: 5px;
	}
</style>
<script>
	import AddRemoveButton from '../../../common/control/button/AddRemoveButton.html'
	import DescribedButton from '../../../common/control/button/DescribedButton.html'
	import FactorButton    from '../../../common/control/button/FactorButton.html'
	import FilterButton    from '../../../common/control/button/FilterButton.html'
	import OutcomeButton   from '../../../common/control/button/OutcomeButton.html'
	import SortButton      from '../../../common/control/button/SortButton.html'
	import Fab             from '../../../common/control/Fab.html'

	export default {
		components: {
			AddRemoveButton,
			Fab,
			FactorButton,
			FilterButton,
			DescribedButton,
			OutcomeButton,
			SortButton,
		},
		data: () => ({
			closed: false,
			expanded: false,
			factorMode: true
		}),
		methods: {
			open(
				action
			) {
				this.set({closed: true})
				this.fire(action)
			},
			setOpened(
				opened
			) {
				setTimeout(() => {
					const change = {closed: !opened, expanded: opened}
					if (!opened) {
						change.closing = true
						setTimeout(() => {
							change.closing = false
							this.set(change)
						}, 201)
					} else {
						change.closing = false
					}
					this.set(change)
				}, 1)
			},
			toggleFactorMode() {
				let factorMode = !this.get().factorMode
				this.open(factorMode ? 'factors' : 'outcomes')
				this.set({factorMode})
			}
		}
	}
</script>