<aside>
	{#if opened}
	<section>
		<div>
			{#if previewMode}
			<nav
					on:click="togglePositionMode()"
					in:fade='{delay: 120, duration: 250}'
					out:fade='{delay: 20, duration: 200}'
			>
				<PositionButton
						color="{dirPosButtonColor}"
				></PositionButton>
			</nav>
			<nav
					on:click="toPollForm($routeParams)"
					in:fade='{delay: 80, duration: 250}'
					out:fade='{delay: 50, duration: 200}'
			>
				<LeftButton
				></LeftButton>
			</nav>
			<nav
					on:click="checkBuild()"
					in:fade='{delay: 50, duration: 250}'
					out:fade='{delay: 80, duration: 200}'
			>
				<BuildButton
				></BuildButton>
			</nav>
			{:else}
			<nav
					on:click="confirmAlter(event)"
					in:fade='{delay: 120, duration: 250}'
					out:fade='{delay: 20, duration: 200}'
			>
				<EditButton
				></EditButton>
			</nav>

			{#if cubeView}
			<nav
					class="app-button"
					on:click="togglePercentPicker()"
					in:fade='{delay: 80, duration: 250}'
					out:fade='{delay: 50, duration: 200}'
			>
				%
			</nav>
			{:else}
			<nav
					on:click="toggleManualControls()"
					in:fade='{delay: 80, duration: 250}'
					out:fade='{delay: 50, duration: 200}'
			>
				<ManualControls
						on="{manualControls}"
				></ManualControls>
			</nav>
			{/if}
			<nav
					on:click="confirmVote()"
					in:fade='{delay: 50, duration: 250}'
					out:fade='{delay: 80, duration: 200}'
			>
				<VoteButton
				></VoteButton>
			</nav>
			{/if}
		</div>
	</section>
	{/if}
	<AddRemoveButton
			add="{!opened}"
			classes="bottomRight"
			on:select="toggle(opened)"
			reversible="{true}"
			size="65"
	></AddRemoveButton>
</aside>
<style>
	aside {
		position: relative;
		z-index: 3;
	}

	div {
		position: relative;
	}

	nav {
		margin: 10px;
		position: relative;
	}

	section {
		bottom: -50px;
		position: absolute;
		right: 10px;
	}
</style>
<script>
	import {fade}          from 'svelte-transitions'
	import AddRemoveButton from '../../common/control/button/AddRemoveButton.html'
	import BuildButton     from '../../common/control/button/BuildButton.html'
	import EditButton      from '../../common/control/button/EditButton.html'
	import LeftButton      from '../../common/control/button/LeftButton.html'
	import ManualControls  from '../../common/control/button/ManualControls.html'
	import PositionButton  from '../../common/control/button/PositionButton.html'
	import VoteButton      from '../../common/control/button/VoteButton.html'

	export default {
		components: {
			AddRemoveButton,
			BuildButton,
			EditButton,
			ManualControls,
			PositionButton,
			LeftButton,
			VoteButton
		},
		methods: {
			toggle(opened) {
				this.set({opened: !opened})
			}
		},
		transitions: {fade}
	}
</script>