<Fab
		on:opened="setOpened(event)"
		closed="{closed}"
>
	<div
			slot="up5"
	>
		<DescribedButton
				expanded="{expanded}"
				closing="{closing}"
				label="Set Age Suitability"
				on:select="open('ageSuitability')"
		>
			<ShieldButton
			></ShieldButton>
		</DescribedButton>
	</div>
	<div
			slot="up4"
	>
		<DescribedButton
				expanded="{expanded}"
				closing="{closing}"
				label="View Outcomes"
				on:select="open('outcomes')"
		>
			<OutcomeButton
			></OutcomeButton>
		</DescribedButton>
	</div>
	<div
			slot="up3"
	>
		<DescribedButton
				expanded="{expanded}"
				closing="{closing}"
				label="{previewMode ? (alignmentMode ? 'Hide Alignment' : 'Show Alignment') : 'Manually Override'}"
				on:select="open(previewMode ? 'position' : 'manuallyOverwrite')"
		>
			{#if previewMode}
			<AlignmentButton
					alignmentMode="{alignmentMode}"
			></AlignmentButton>
			{:else}
			<ManualOverwriteButton
					on="{manualControls}"
			></ManualOverwriteButton>
			{/if}
		</DescribedButton>
	</div>
	<div
			slot="up2"
	>
		<DescribedButton
				expanded="{expanded}"
				closing="{closing}"
				label="Improve Poll"
				on:select="open('edit')"
		>
			<EditButton
			></EditButton>
		</DescribedButton>
	</div>
	<div
			slot="up1"
	>
		<DescribedButton
				expanded="{expanded}"
				closing="{closing}"
				label="{previewMode ? 'Build Poll' : 'Submit Vote'}"
				on:select="open(previewMode ? 'build' : 'confirmVote')"
		>
			{#if previewMode}
			<BuildButton
			></BuildButton>
			{:else}
			<VoteButton
			></VoteButton>
			{/if}
		</DescribedButton>
	</div>
	<div
			slot="left1"
	>
		<UndescribedButton>
			<VariationTreeButton
					on:select="open('variations')"
					styles="position: absolute; right: 0px; top: 0px;"
			></VariationTreeButton>
		</UndescribedButton>
	</div>
	<div
			slot="left2"
	>
		<UndescribedButton>
			<OpinionButton
					on:select="open('opinions')"
					styles="position: absolute; right: 0px; top: 0px;"
			></OpinionButton>
		</UndescribedButton>
	</div>
	<div
			slot="left3"
	>
		<UndescribedButton>
			<BellCurveButton
					on:select="open('stats')"
					styles="position: absolute; right: 0px; top: 0px;"
			></BellCurveButton>
		</UndescribedButton>
	</div>
	<div
			slot="left4"
	>
		<UndescribedButton>
			<RankingsButton
					on:select="open('rankings')"
					styles="position: absolute; right: 0px; top: 0px;"
			></RankingsButton>
		</UndescribedButton>
	</div>
</Fab>
<style>
	div[slot^="up"] {
		position: absolute;
		right: 10px;
		top: 5px;
	}

	div[slot^="left"] {
		position: absolute;
		right: 10px;
		top: 5px;
	}
</style>
<script>
	import AddRemoveButton     from '../../common/control/button/AddRemoveButton.html'
	import AlignmentButton     from '../../common/control/button/AlignmentButton.html'
	import BellCurveButton     from '../../common/control/button/BellCurveButton.html'
	import BuildButton         from '../../common/control/button/BuildButton.html'
	import DescribedButton     from '../../common/control/button/DescribedButton.html'
	import EditButton          from '../../common/control/button/EditButton.html'
	import LeftButton          from '../../common/control/button/LeftButton.html'
	import ManualOverwriteButton
	                           from '../../common/control/button/ManualOverwriteButton.html'
	import OpinionButton       from '../../common/control/button/OpinionButton.html'
	import OutcomeButton       from '../../common/control/button/OutcomeButton.html'
	import RankingsButton      from '../../common/control/button/RankingsButton.html'
	import ShieldButton        from '../../common/control/button/ShieldButton.html'
	import UndescribedButton   from '../../common/control/button/UndescribedButton.html'
	import VariationTreeButton from '../../common/control/button/VariationTreeButton.html'
	import VoteButton          from '../../common/control/button/VoteButton.html'
	import Fab                 from '../../common/control/Fab.html'

	export default {
		components: {
			AddRemoveButton,
			AlignmentButton,
			BellCurveButton,
			BuildButton,
			ShieldButton,
			DescribedButton,
			EditButton,
			Fab,
			ManualOverwriteButton,
			OpinionButton,
			OutcomeButton,
			RankingsButton,
			LeftButton,
			UndescribedButton,
			VariationTreeButton,
			VoteButton
		},
		data: () => ({
			alignmentMode: false,
			closed: false,
			expanded: false
		}),
		methods: {
			open(
				action
			) {
				this.set({closed: true})
				this.fire(action)
			},
			position(
				alignmentMode,
				previewMode
			) {
				if (!previewMode) {
					this.fire('manuallyOverwrite')
					return
				}
				alignmentMode = !alignmentMode
				this.set({alignmentMode})
			},
			setOpened(
				opened
			) {
				setTimeout(() => {
					const change = {closed: !opened, expanded: opened}
					if (!opened) {
						change.closing = true
						setTimeout(() => {
							change.closing = false
							this.set(change)
						}, 201)
					} else {
						change.closing = false
					}
					this.set(change)
				}, 1)
			}
		}
	}
</script>