<ActionPopover
		on:cancel
>
	<div slot="header">
		Poll Age Suitability
	</div>
	<div slot="content">
		<table>
			{#each values as value}
			<tr>
				<td>
					<Radio
							name="ageSuitability"
							on:select="setValue(value)"
							styles="position: absolute; right: 5px; top: -1px;"
							value="value"
					></Radio>
				</td>
				<td>
					{value}+
				</td>
			</tr>
			{/each}
		</table>
	</div>
	<div slot="actions">
		{#if saving}
		<BuildButton
				on:select="save()"
		></BuildButton>
		{:else}
		<SaveButton
				on:select="save()"
		></SaveButton>
		{/if}
	</div>
</ActionPopover>
<style>
	table {
		width: 100%;
		margin-bottom: 10px;
	}

	td:first-child {
		height: 42px;
		position: relative;
		width: 55%;
	}

	td:last-child {
		font-size: 1.5em;
		font-weight: 400;
		text-align: left;
	}
</style>
<script>
	import BuildButton   from '../common/control/button/BuildButton.html'
	import SaveButton    from '../common/control/button/SaveButton.svelte'
	import Radio         from '../common/field/Radio.html'
	import ActionPopover from '../common/shell/ActionPopover.html'

	export default {
		components: {
			ActionPopover,
			BuildButton,
			Radio,
			SaveButton
		},
		data: () => ({
			values: [0, 7, 13, 17, 21]
		}),
		methods: {
			setValue(value) {
				this.set({value})
			},
			save() {
				const {poll, value} = this.get()
				// TODO: save age suitability
				if (!value && value !== 0) {
					this.fire('cancel')
					return
				}
				poll.ageSuitability = value
				this.fire('save')
			}
		},
		oncreate() {
			const {poll} = this.get()
			if (poll.ageSuitability !== undefined) {
				this.set({value: poll.ageSuitability})
			}
		}
	}
</script>