<RightButton
				classes="moveRight"
				on:select="fire('moveRight')"
></RightButton>
<RightButton
				classes="moveDown"
				on:select="fire('moveDown')"
></RightButton>
<RightButton
				classes="moveLeft"
				on:select="fire('moveLeft')"
></RightButton>
<RightButton
				classes="moveUp"
				on:select="fire('moveUp')"
></RightButton>
<SwitchPositionButton
				classes="switchPosition"
				on:select="fire('switchDir')"
></SwitchPositionButton>

<script>
	import RightButton           from '../../../common/control/button/RightButton.html'
	import SwitchPositionButton from '../../../common/control/button/SwitchPositionButton.html'

	export default {
		components: {
			RightButton,
			SwitchPositionButton,
		}
	}
</script>